@model Task_9_Error_Handle.Models.Students_Courses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students_Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
