@model IEnumerable<Task_3_DataAnn.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{
    <b>Search Option</b>
    @Html.RadioButton("searchBy", "Fname", true) <text>First Name</text>
    @Html.RadioButton("searchBy", "Lname", true) <text>Last Name</text>
    @Html.RadioButton("searchBy", "Email", true) <text>Email</text>

    @Html.TextBox("search")
    <input type="submit" value="Search" />
}
<br />
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Job_Title)*@

            Job Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.C_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CV)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="9" style="color:red">
                No Match Any Documents
            </td>
        </tr>
    }

    else { 
    foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Fname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Job_Title)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>*@

    @if (item.Gender == true)
    {
        <td>
            <span>Female</span>
        </td>

    }
    else
    {
        <td>
            <span>Male</span>

        </td>

    }

    <td>
        @*@Html.DisplayFor(modelItem => item.C_Image)*@
        <img src="~/pic/@item.C_Image" width="50" />
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.CV)*@

        <a href="~/pdf/@item.CV" download>CV</a>
    </td>
  
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
    </td>
</tr>
        }
    }
</table>
